pkgbase = libspk
	pkgdesc = Custom commands (functions) and connector of SPK packages for Arch Linux
	pkgver = 0.0.8
	pkgrel = 10
	url = https://github.com/Jeicobroot-jrt/libspk.git
	install = SPK.install
	arch = x86_64
	license = MIT
	source = SPK_aliases.sh
	sha256sums = fec9c1e1271d43ee1caee6a2e017f4562ab56d71e96206d4f49efd540a54c8e3

pkgname = libspk
