pkgbase = libspk
	pkgdesc = Custom commands (functions) and connector of SPK packages for Arch Linux
	pkgver = 0.0.6
	pkgrel = 10
	url = https://github.com/Jeicobroot-jrt/libspk
	install = SPK.install
	arch = x86_64
	license = MIT
	source = SPK_aliases.sh
	sha256sums = e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855

pkgname = libspk
